#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.hidden {
  display: none;
}

.disabled {
  opacity: 50%;
  cursor: not-allowed;
}

/**********
CHESSMATCH
**********/

.chessMatch {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  background-color: transparent;
}

.gameInfoContainer {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 60vh;
}

.gameInfo {
  width: 100%;
  height: 70%;
	margin: 0 auto;
  margin-left: 10px;
  background-color: grey;
  box-shadow: 2px 2px #131313;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.pieceCount {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  margin-left: 10px;
}

.playerTimeBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
	margin: 0 auto;
  margin-left: 10px;
  background-color: grey;
  border-top: 10px solid #161512;
  box-shadow: 2px 2px #131313;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom-right-radius: 4px;
}

.playerTimeTop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
	margin: 0 auto;
  margin-left: 10px;
  background-color: grey;
  border-bottom: 10px solid #161512;
  box-shadow: 2px 2px #131313;
  font-family: Arial, Helvetica, sans-serif;
  border-top-right-radius: 4px;
}

.playerInfo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 12.5%;
}

.playerName {
  display: flex;
  width: 90%;
  height: 100%;
  text-align: left;
  align-items: center;
  justify-content: left;
  color: black;
  overflow: hidden;
  padding-left: 0.5em;
}

.moveHistoryControlsContainer {
  display: flex;
  justify-content: space-between;
  height: 12.5%;
  color: black;
  overflow: visible;
  padding-bottom: 2px;
  box-shadow: 0 2px #131313;
  background-color: #343232;
}

.moveHistoryControlsButton {
  display: flex;
  width: 15%;
  height: 100%;
  background-color: transparent;
  border: #000000;
  justify-content: center;
  align-items: center;
}

.moveHistoryControlsButton:hover {
  background-color: orange;
  cursor: pointer;
}

@keyframes flash {
  0% { background-color: transparent; }
  50% { background-color: green; }
  100% { background-color: 1; }
}

.moveHistoryControlsButton.newMoveNotification {
  animation: flash 1s infinite;
}

.movesContainer {
  height: 50%;
  color: black;
  overflow: hidden;
  text-align: left;
  overflow-y: auto;
  background-color: transparent;
}

.movesContainer table {
  border-collapse: collapse;
  width: 100%;
}

.movesRow td {
  width: 40%;
  background-color: grey;
}

.movesRow td:hover:not(.highlight):not(:first-child) {
  background-color: aqua;
  cursor: pointer;
}

.movesRow .highlight {
  background-color: rgb(0 255 255 / 50%);
  cursor: pointer;
}

.movesRow td:first-child {
  width: 20%;
  background-color: #343232;
}

.gameControlsContainer {
  display: flex;
  justify-content: space-between;
  height: 12.5%;
  overflow: hidden;
}

.gameControlsButton {
  display: flex;
  width: 15%;
  height: 100%;
  background-color: transparent;
  border: #000000;
  justify-content: center;
  align-items: center;
}

.gameControlsButton:hover {
  background-color: orange;
  cursor: pointer;
}

.chessboard-container {
  position: relative;
  resize: both;
  overflow: auto;
  float: right;
	margin: 0 auto;
  z-index: 2;
}

.chessboard {
  position: relative;
	background-image: url("data:image/svg+xml,%3Csvg width='800' height='800' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='100' height='100' x='0' y='0' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='100' y='0' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='200' y='0' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='300' y='0' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='400' y='0' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='500' y='0' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='600' y='0' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='700' y='0' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='0' y='100' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='100' y='100' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='200' y='100' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='300' y='100' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='400' y='100' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='500' y='100' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='600' y='100' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='700' y='100' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='0' y='200' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='100' y='200' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='200' y='200' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='300' y='200' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='400' y='200' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='500' y='200' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='600' y='200' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='700' y='200' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='0' y='300' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='100' y='300' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='200' y='300' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='300' y='300' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='400' y='300' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='500' y='300' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='600' y='300' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='700' y='300' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='0' y='400' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='100' y='400' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='200' y='400' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='300' y='400' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='400' y='400' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='500' y='400' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='600' y='400' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='700' y='400' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='0' y='500' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='100' y='500' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='200' y='500' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='300' y='500' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='400' y='500' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='500' y='500' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='600' y='500' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='700' y='500' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='0' y='600' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='100' y='600' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='200' y='600' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='300' y='600' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='400' y='600' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='500' y='600' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='600' y='600' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='700' y='600' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='0' y='700' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='100' y='700' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='200' y='700' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='300' y='700' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='400' y='700' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='500' y='700' style='fill:%23f0d9b5' /%3E%3Crect width='100' height='100' x='600' y='700' style='fill:%23b58863' /%3E%3Crect width='100' height='100' x='700' y='700' style='fill:%23f0d9b5' /%3E%3C/svg%3E");
  z-index: 1;
  border-radius: 4px;
}

.white-pawn {
  position: absolute;
	margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50'%3E%3Cpath d='m 22.5,9 c -2.21,0 -4,1.79 -4,4 0,0.89 0.29,1.71 0.78,2.38 C 17.33,16.5 16,18.59 16,21 c 0,2.03 0.94,3.84 2.41,5.03 C 15.41,27.09 11,31.58 11,39.5 H 34 C 34,31.58 29.59,27.09 26.59,26.03 28.06,24.84 29,23.03 29,21 29,18.59 27.67,16.5 25.72,15.38 26.21,14.71 26.5,13.89 26.5,13 c 0,-2.21 -1.79,-4 -4,-4 z' style='opacity:1; fill:%23ffffff; fill-opacity:1; fill-rule:nonzero; stroke:%23000000; stroke-width:1.5; stroke-linecap:round; stroke-linejoin:miter; stroke-miterlimit:4; stroke-dasharray:none; stroke-opacity:1;'/%3E%3C/svg%3E");  background-repeat: no-repeat;
}

.white-knight {
  position: absolute;
	margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50'%3E%3Cg style='opacity:1; fill:none; fill-opacity:1; fill-rule:evenodd; stroke:%23000000; stroke-width:1.5; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4; stroke-dasharray:none; stroke-opacity:1;' transform='translate(0,0.3)'%3E%3Cpath d='M 22,10 C 32.5,11 38.5,18 38,39 L 15,39 C 15,30 25,32.5 23,18' style='fill:%23ffffff; stroke:%23000000;'/%3E%3Cpath d='M 24,18 C 24.38,20.91 18.45,25.37 16,27 C 13,29 13.18,31.34 11,31 C 9.958,30.06 12.41,27.96 11,28 C 10,28 11.19,29.23 10,30 C 9,30 5.997,31 6,26 C 6,24 12,14 12,14 C 12,14 13.89,12.1 14,10.5 C 13.27,9.506 13.5,8.5 13.5,7.5 C 14.5,6.5 16.5,10 16.5,10 L 18.5,10 C 18.5,10 19.28,8.008 21,7 C 22,7 22,10 22,10' style='fill:%23ffffff; stroke:%23000000;'/%3E%3Cpath d='M 9.5 25.5 A 0.5 0.5 0 1 1 8.5,25.5 A 0.5 0.5 0 1 1 9.5 25.5 z' style='fill:%23000000; stroke:%23000000;'/%3E%3Cpath d='M 15 15.5 A 0.5 1.5 0 1 1 14,15.5 A 0.5 1.5 0 1 1 15 15.5 z' transform='matrix(0.866,0.5,-0.5,0.866,9.693,-5.173)' style='fill:%23000000; stroke:%23000000;'/%3E%3C/g%3E%3C/svg%3E");  background-repeat: no-repeat;
}

.white-bishop {
  position: absolute;
	margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50'%3E%3Cg style='opacity:1; fill:none; fill-rule:evenodd; fill-opacity:1; stroke:%23000000; stroke-width:1.5; stroke-linecap:round; stroke-linejoin:round; stroke-miterlimit:4; stroke-dasharray:none; stroke-opacity:1;' transform='translate(0,0.6)'%3E%3Cg style='fill:%23ffffff; stroke:%23000000; stroke-linecap:butt;'%3E%3Cpath d='M 9,36 C 12.39,35.03 19.11,36.43 22.5,34 C 25.89,36.43 32.61,35.03 36,36 C 36,36 37.65,36.54 39,38 C 38.32,38.97 37.35,38.99 36,38.5 C 32.61,37.53 25.89,38.96 22.5,37.5 C 19.11,38.96 12.39,37.53 9,38.5 C 7.65,38.99 6.68,38.97 6,38 C 7.35,36.54 9,36 9,36 z'/%3E%3Cpath d='M 15,32 C 17.5,34.5 27.5,34.5 30,32 C 30.5,30.5 30,30 30,30 C 30,27.5 27.5,26 27.5,26 C 33,24.5 33.5,14.5 22.5,10.5 C 11.5,14.5 12,24.5 17.5,26 C 17.5,26 15,27.5 15,30 C 15,30 14.5,30.5 15,32 z'/%3E%3Cpath d='M 25 8 A 2.5 2.5 0 1 1 20,8 A 2.5 2.5 0 1 1 25 8 z'/%3E%3C/g%3E%3Cpath d='M 17.5,26 L 27.5,26 M 15,30 L 30,30 M 22.5,15.5 L 22.5,20.5 M 20,18 L 25,18' style='fill:none; stroke:%23000000; stroke-linejoin:miter;'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.white-rook {
  position: absolute;
	margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50'%3E%3Cg style='opacity:1; fill:%23ffffff; fill-opacity:1; fill-rule:evenodd; stroke:%23000000; stroke-width:1.5; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4; stroke-dasharray:none; stroke-opacity:1;' transform='translate(0,0.3)'%3E%3Cpath d='M 9,39 L 36,39 L 36,36 L 9,36 L 9,39 z ' style='stroke-linecap:butt;'/%3E%3Cpath d='M 12,36 L 12,32 L 33,32 L 33,36 L 12,36 z ' style='stroke-linecap:butt;'/%3E%3Cpath d='M 11,14 L 11,9 L 15,9 L 15,11 L 20,11 L 20,9 L 25,9 L 25,11 L 30,11 L 30,9 L 34,9 L 34,14' style='stroke-linecap:butt;'/%3E%3Cpath d='M 34,14 L 31,17 L 14,17 L 11,14'/%3E%3Cpath d='M 31,17 L 31,29.5 L 14,29.5 L 14,17' style='stroke-linecap:butt; stroke-linejoin:miter;'/%3E%3Cpath d='M 31,29.5 L 32.5,32 L 12.5,32 L 14,29.5'/%3E%3Cpath d='M 11,14 L 34,14' style='fill:none; stroke:%23000000; stroke-linejoin:miter;'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.white-queen {
  position: absolute;
	margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50'%3E%3Cg style='fill:%23ffffff;stroke:%23000000;stroke-width:1.5;stroke-linejoin:round'%3E%3Cpath d='M 9,26 C 17.5,24.5 30,24.5 36,26 L 38.5,13.5 L 31,25 L 30.7,10.9 L 25.5,24.5 L 22.5,10 L 19.5,24.5 L 14.3,10.9 L 14,25 L 6.5,13.5 L 9,26 z'/%3E%3Cpath d='M 9,26 C 9,28 10.5,28 11.5,30 C 12.5,31.5 12.5,31 12,33.5 C 10.5,34.5 11,36 11,36 C 9.5,37.5 11,38.5 11,38.5 C 17.5,39.5 27.5,39.5 34,38.5 C 34,38.5 35.5,37.5 34,36 C 34,36 34.5,34.5 33,33.5 C 32.5,31 32.5,31.5 33.5,30 C 34.5,28 36,28 36,26 C 27.5,24.5 17.5,24.5 9,26 z'/%3E%3Cpath d='M 11.5,30 C 15,29 30,29 33.5,30' style='fill:none'/%3E%3Cpath d='M 12,33.5 C 18,32.5 27,32.5 33,33.5' style='fill:none'/%3E%3Ccircle cx='6' cy='12' r='2'/%3E%3Ccircle cx='14' cy='9' r='2'/%3E%3Ccircle cx='22.5' cy='8' r='2'/%3E%3Ccircle cx='31' cy='9' r='2'/%3E%3Ccircle cx='39' cy='12' r='2'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.white-king {
  position: absolute;
	margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath stroke-linejoin='miter' d='M22.5 11.63V6M20 8h5'/%3E%3Cpath fill='%23fff' stroke-linecap='butt' stroke-linejoin='miter' d='M22.5 25s4.5-7.5 3-10.5c0 0-1-2.5-3-2.5s-3 2.5-3 2.5c-1.5 3 3 10.5 3 10.5'/%3E%3Cpath fill='%23fff' d='M12.5 37c5.5 3.5 14.5 3.5 20 0v-7s9-4.5 6-10.5c-4-6.5-13.5-3.5-16 4V27v-3.5c-2.5-7.5-12-10.5-16-4-3 6 6 10.5 6 10.5v7'/%3E%3Cpath d='M12.5 30c5.5-3 14.5-3 20 0m-20 3.5c5.5-3 14.5-3 20 0m-20 3.5c5.5-3 14.5-3 20 0'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.black-pawn {
  position: absolute;
	margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50'%3E%3Cpath d='m 22.5,9 c -2.21,0 -4,1.79 -4,4 0,0.89 0.29,1.71 0.78,2.38 C 17.33,16.5 16,18.59 16,21 c 0,2.03 0.94,3.84 2.41,5.03 C 15.41,27.09 11,31.58 11,39.5 H 34 C 34,31.58 29.59,27.09 26.59,26.03 28.06,24.84 29,23.03 29,21 29,18.59 27.67,16.5 25.72,15.38 26.21,14.71 26.5,13.89 26.5,13 c 0,-2.21 -1.79,-4 -4,-4 z' style='opacity:1; fill:%23000000; fill-opacity:1; fill-rule:nonzero; stroke:%23000000; stroke-width:1.5; stroke-linecap:round; stroke-linejoin:miter; stroke-miterlimit:4; stroke-dasharray:none; stroke-opacity:1;'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.black-knight {
  position: absolute;
	margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50'%3E%3Cg style='opacity:1; fill:none; fill-opacity:1; fill-rule:evenodd; stroke:%23000000; stroke-width:1.5; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4; stroke-dasharray:none; stroke-opacity:1;' transform='translate(0,0.3)'%3E%3Cpath d='M 22,10 C 32.5,11 38.5,18 38,39 L 15,39 C 15,30 25,32.5 23,18' style='fill:%23000000; stroke:%23000000;'/%3E%3Cpath d='M 24,18 C 24.38,20.91 18.45,25.37 16,27 C 13,29 13.18,31.34 11,31 C 9.958,30.06 12.41,27.96 11,28 C 10,28 11.19,29.23 10,30 C 9,30 5.997,31 6,26 C 6,24 12,14 12,14 C 12,14 13.89,12.1 14,10.5 C 13.27,9.506 13.5,8.5 13.5,7.5 C 14.5,6.5 16.5,10 16.5,10 L 18.5,10 C 18.5,10 19.28,8.008 21,7 C 22,7 22,10 22,10' style='fill:%23000000; stroke:%23000000;'/%3E%3Cpath d='M 9.5 25.5 A 0.5 0.5 0 1 1 8.5,25.5 A 0.5 0.5 0 1 1 9.5 25.5 z' style='fill:%23ffffff; stroke:%23ffffff;'/%3E%3Cpath d='M 15 15.5 A 0.5 1.5 0 1 1 14,15.5 A 0.5 1.5 0 1 1 15 15.5 z' transform='matrix(0.866,0.5,-0.5,0.866,9.693,-5.173)' style='fill:%23ffffff; stroke:%23ffffff;'/%3E%3Cpath d='M 24.55,10.4 L 24.1,11.85 L 24.6,12 C 27.75,13 30.25,14.49 32.5,18.75 C 34.75,23.01 35.75,29.06 35.25,39 L 35.2,39.5 L 37.45,39.5 L 37.5,39 C 38,28.94 36.62,22.15 34.25,17.66 C 31.88,13.17 28.46,11.02 25.06,10.5 L 24.55,10.4 z ' style='fill:%23ffffff; stroke:none;'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.black-bishop {
  position: absolute;
	margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50'%3E%3Cg style='opacity:1; fill:none; fill-rule:evenodd; fill-opacity:1; stroke:%23000000; stroke-width:1.5; stroke-linecap:round; stroke-linejoin:round; stroke-miterlimit:4; stroke-dasharray:none; stroke-opacity:1;' transform='translate(0,0.6)'%3E%3Cg style='fill:%23000000; stroke:%23000000; stroke-linecap:butt;'%3E%3Cpath d='M 9,36 C 12.39,35.03 19.11,36.43 22.5,34 C 25.89,36.43 32.61,35.03 36,36 C 36,36 37.65,36.54 39,38 C 38.32,38.97 37.35,38.99 36,38.5 C 32.61,37.53 25.89,38.96 22.5,37.5 C 19.11,38.96 12.39,37.53 9,38.5 C 7.65,38.99 6.68,38.97 6,38 C 7.35,36.54 9,36 9,36 z'/%3E%3Cpath d='M 15,32 C 17.5,34.5 27.5,34.5 30,32 C 30.5,30.5 30,30 30,30 C 30,27.5 27.5,26 27.5,26 C 33,24.5 33.5,14.5 22.5,10.5 C 11.5,14.5 12,24.5 17.5,26 C 17.5,26 15,27.5 15,30 C 15,30 14.5,30.5 15,32 z'/%3E%3Cpath d='M 25 8 A 2.5 2.5 0 1 1 20,8 A 2.5 2.5 0 1 1 25 8 z'/%3E%3C/g%3E%3Cpath d='M 17.5,26 L 27.5,26 M 15,30 L 30,30 M 22.5,15.5 L 22.5,20.5 M 20,18 L 25,18' style='fill:none; stroke:%23ffffff; stroke-linejoin:miter;'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.black-rook {
  position: absolute;
	margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50'%3E%3Cg style='opacity:1; fill:%23000000; fill-opacity:1; fill-rule:evenodd; stroke:%23000000; stroke-width:1.5; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4; stroke-dasharray:none; stroke-opacity:1;' transform='translate(0,0.3)'%3E%3Cpath d='M 9,39 L 36,39 L 36,36 L 9,36 L 9,39 z ' style='stroke-linecap:butt;'/%3E%3Cpath d='M 12.5,32 L 14,29.5 L 31,29.5 L 32.5,32 L 12.5,32 z ' style='stroke-linecap:butt;'/%3E%3Cpath d='M 12,36 L 12,32 L 33,32 L 33,36 L 12,36 z ' style='stroke-linecap:butt;'/%3E%3Cpath d='M 14,29.5 L 14,16.5 L 31,16.5 L 31,29.5 L 14,29.5 z ' style='stroke-linecap:butt;stroke-linejoin:miter;'/%3E%3Cpath d='M 14,16.5 L 11,14 L 34,14 L 31,16.5 L 14,16.5 z ' style='stroke-linecap:butt;'/%3E%3Cpath d='M 11,14 L 11,9 L 15,9 L 15,11 L 20,11 L 20,9 L 25,9 L 25,11 L 30,11 L 30,9 L 34,9 L 34,14 L 11,14 z ' style='stroke-linecap:butt;'/%3E%3Cpath d='M 12,35.5 L 33,35.5 L 33,35.5' style='fill:none; stroke:%23ffffff; stroke-width:1; stroke-linejoin:miter;'/%3E%3Cpath d='M 13,31.5 L 32,31.5' style='fill:none; stroke:%23ffffff; stroke-width:1; stroke-linejoin:miter;'/%3E%3Cpath d='M 14,29.5 L 31,29.5' style='fill:none; stroke:%23ffffff; stroke-width:1; stroke-linejoin:miter;'/%3E%3Cpath d='M 14,16.5 L 31,16.5' style='fill:none; stroke:%23ffffff; stroke-width:1; stroke-linejoin:miter;'/%3E%3Cpath d='M 11,14 L 34,14' style='fill:none; stroke:%23ffffff; stroke-width:1; stroke-linejoin:miter;'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.black-queen {
  position: absolute;
	margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50'%3E%3Cg style='fill:%23000000;stroke:%23000000;stroke-width:1.5; stroke-linecap:round;stroke-linejoin:round'%3E%3Cpath d='M 9,26 C 17.5,24.5 30,24.5 36,26 L 38.5,13.5 L 31,25 L 30.7,10.9 L 25.5,24.5 L 22.5,10 L 19.5,24.5 L 14.3,10.9 L 14,25 L 6.5,13.5 L 9,26 z' style='stroke-linecap:butt;fill:%23000000'/%3E%3Cpath d='m 9,26 c 0,2 1.5,2 2.5,4 1,1.5 1,1 0.5,3.5 -1.5,1 -1,2.5 -1,2.5 -1.5,1.5 0,2.5 0,2.5 6.5,1 16.5,1 23,0 0,0 1.5,-1 0,-2.5 0,0 0.5,-1.5 -1,-2.5 -0.5,-2.5 -0.5,-2 0.5,-3.5 1,-2 2.5,-2 2.5,-4 -8.5,-1.5 -18.5,-1.5 -27,0 z'/%3E%3Cpath d='M 11.5,30 C 15,29 30,29 33.5,30'/%3E%3Cpath d='m 12,33.5 c 6,-1 15,-1 21,0'/%3E%3Ccircle cx='6' cy='12' r='2'/%3E%3Ccircle cx='14' cy='9' r='2'/%3E%3Ccircle cx='22.5' cy='8' r='2'/%3E%3Ccircle cx='31' cy='9' r='2'/%3E%3Ccircle cx='39' cy='12' r='2'/%3E%3Cpath d='M 11,38.5 A 35,35 1 0 0 34,38.5' style='fill:none; stroke:%23000000;stroke-linecap:butt;'/%3E%3Cg style='fill:none; stroke:%23ffffff;'%3E%3Cpath d='M 11,29 A 35,35 1 0 1 34,29'/%3E%3Cpath d='M 12.5,31.5 L 32.5,31.5'/%3E%3Cpath d='M 11.5,34.5 A 35,35 1 0 0 33.5,34.5'/%3E%3Cpath d='M 10.5,37.5 A 35,35 1 0 0 34.5,37.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.black-king {
  position: absolute;
	margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50'%3E%3Cg style='fill:none; fill-opacity:1; fill-rule:evenodd; stroke:%23000000; stroke-width:1.5; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4; stroke-dasharray:none; stroke-opacity:1;'%3E%3Cpath d='M 22.5,11.63 L 22.5,6' style='fill:none; stroke:%23000000; stroke-linejoin:miter;' id='path6570'/%3E%3Cpath d='M 22.5,25 C 22.5,25 27,17.5 25.5,14.5 C 25.5,14.5 24.5,12 22.5,12 C 20.5,12 19.5,14.5 19.5,14.5 C 18,17.5 22.5,25 22.5,25' style='fill:%23000000;fill-opacity:1; stroke-linecap:butt; stroke-linejoin:miter;'/%3E%3Cpath d='M 12.5,37 C 18,40.5 27,40.5 32.5,37 L 32.5,30 C 32.5,30 41.5,25.5 38.5,19.5 C 34.5,13 25,16 22.5,23.5 L 22.5,27 L 22.5,23.5 C 20,16 10.5,13 6.5,19.5 C 3.5,25.5 12.5,30 12.5,30 L 12.5,37' style='fill:%23000000; stroke:%23000000;'/%3E%3Cpath d='M 20,8 L 25,8' style='fill:none; stroke:%23000000; stroke-linejoin:miter;'/%3E%3Cpath d='M 32,29.5 C 32,29.5 40.5,25.5 38.03,19.85 C 34.15,14 25,18 22.5,24.5 L 22.5,26.6 L 22.5,24.5 C 20,18 10.85,14 6.97,19.85 C 4.5,25.5 13,29.5 13,29.5' style='fill:none; stroke:%23ffffff;'/%3E%3Cpath d='M 12.5,30 C 18,27 27,27 32.5,30 M 12.5,33.5 C 18,30.5 27,30.5 32.5,33.5 M 12.5,37 C 18,34 27,34 32.5,37' style='fill:none; stroke:%23ffffff;'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.grey-pawn {
  position: absolute;
	margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50'%3E%3Cpath d='m 22.5,9 c -2.21,0 -4,1.79 -4,4 0,0.89 0.29,1.71 0.78,2.38 C 17.33,16.5 16,18.59 16,21 c 0,2.03 0.94,3.84 2.41,5.03 C 15.41,27.09 11,31.58 11,39.5 H 34 C 34,31.58 29.59,27.09 26.59,26.03 28.06,24.84 29,23.03 29,21 29,18.59 27.67,16.5 25.72,15.38 26.21,14.71 26.5,13.89 26.5,13 c 0,-2.21 -1.79,-4 -4,-4 z' style='opacity:1; fill:%23dbdfd6; fill-opacity:1; fill-rule:nonzero; stroke:%23dbdfd6; stroke-width:1.5; stroke-linecap:round; stroke-linejoin:miter; stroke-miterlimit:4; stroke-dasharray:none; stroke-opacity:1;'/%3E%3C/svg%3E");  background-repeat: no-repeat;
}

.grey-knight {
  position: absolute;
	margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50'%3E%3Cg style='opacity:1; fill:none; fill-opacity:1; fill-rule:evenodd; stroke:%23dbdfd6; stroke-width:1.5; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4; stroke-dasharray:none; stroke-opacity:1;' transform='translate(0,0.3)'%3E%3Cpath d='M 22,10 C 32.5,11 38.5,18 38,39 L 15,39 C 15,30 25,32.5 23,18' style='fill:%23dbdfd6; stroke:%23dbdfd6;'/%3E%3Cpath d='M 24,18 C 24.38,20.91 18.45,25.37 16,27 C 13,29 13.18,31.34 11,31 C 9.958,30.06 12.41,27.96 11,28 C 10,28 11.19,29.23 10,30 C 9,30 5.997,31 6,26 C 6,24 12,14 12,14 C 12,14 13.89,12.1 14,10.5 C 13.27,9.506 13.5,8.5 13.5,7.5 C 14.5,6.5 16.5,10 16.5,10 L 18.5,10 C 18.5,10 19.28,8.008 21,7 C 22,7 22,10 22,10' style='fill:%23dbdfd6; stroke:%23dbdfd6;'/%3E%3Cpath d='M 9.5 25.5 A 0.5 0.5 0 1 1 8.5,25.5 A 0.5 0.5 0 1 1 9.5 25.5 z' style='fill:%23dbdfd6; stroke:%23dbdfd6;'/%3E%3Cpath d='M 15 15.5 A 0.5 1.5 0 1 1 14,15.5 A 0.5 1.5 0 1 1 15 15.5 z' transform='matrix(0.866,0.5,-0.5,0.866,9.693,-5.173)' style='fill:%23dbdfd6; stroke:%23dbdfd6;'/%3E%3C/g%3E%3C/svg%3E");  background-repeat: no-repeat;
}

.grey-bishop {
  position: absolute;
	margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50'%3E%3Cg style='opacity:1; fill:none; fill-rule:evenodd; fill-opacity:1; stroke:%23dbdfd6; stroke-width:1.5; stroke-linecap:round; stroke-linejoin:round; stroke-miterlimit:4; stroke-dasharray:none; stroke-opacity:1;' transform='translate(0,0.6)'%3E%3Cg style='fill:%23dbdfd6; stroke:%23dbdfd6; stroke-linecap:butt;'%3E%3Cpath d='M 9,36 C 12.39,35.03 19.11,36.43 22.5,34 C 25.89,36.43 32.61,35.03 36,36 C 36,36 37.65,36.54 39,38 C 38.32,38.97 37.35,38.99 36,38.5 C 32.61,37.53 25.89,38.96 22.5,37.5 C 19.11,38.96 12.39,37.53 9,38.5 C 7.65,38.99 6.68,38.97 6,38 C 7.35,36.54 9,36 9,36 z'/%3E%3Cpath d='M 15,32 C 17.5,34.5 27.5,34.5 30,32 C 30.5,30.5 30,30 30,30 C 30,27.5 27.5,26 27.5,26 C 33,24.5 33.5,14.5 22.5,10.5 C 11.5,14.5 12,24.5 17.5,26 C 17.5,26 15,27.5 15,30 C 15,30 14.5,30.5 15,32 z'/%3E%3Cpath d='M 25 8 A 2.5 2.5 0 1 1 20,8 A 2.5 2.5 0 1 1 25 8 z'/%3E%3C/g%3E%3Cpath d='M 17.5,26 L 27.5,26 M 15,30 L 30,30 M 22.5,15.5 L 22.5,20.5 M 20,18 L 25,18' style='fill:none; stroke:%23dbdfd6; stroke-linejoin:miter;'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.grey-rook {
  position: absolute;
	margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50'%3E%3Cg style='opacity:1; fill:%23dbdfd6; fill-opacity:1; fill-rule:evenodd; stroke:%23dbdfd6; stroke-width:1.5; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4; stroke-dasharray:none; stroke-opacity:1;' transform='translate(0,0.3)'%3E%3Cpath d='M 9,39 L 36,39 L 36,36 L 9,36 L 9,39 z ' style='stroke-linecap:butt;'/%3E%3Cpath d='M 12,36 L 12,32 L 33,32 L 33,36 L 12,36 z ' style='stroke-linecap:butt;'/%3E%3Cpath d='M 11,14 L 11,9 L 15,9 L 15,11 L 20,11 L 20,9 L 25,9 L 25,11 L 30,11 L 30,9 L 34,9 L 34,14' style='stroke-linecap:butt;'/%3E%3Cpath d='M 34,14 L 31,17 L 14,17 L 11,14'/%3E%3Cpath d='M 31,17 L 31,29.5 L 14,29.5 L 14,17' style='stroke-linecap:butt; stroke-linejoin:miter;'/%3E%3Cpath d='M 31,29.5 L 32.5,32 L 12.5,32 L 14,29.5'/%3E%3Cpath d='M 11,14 L 34,14' style='fill:none; stroke:%23dbdfd6; stroke-linejoin:miter;'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.grey-queen {
  position: absolute;
	margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='50' height='50'%3E%3Cg style='fill:%23dbdfd6;stroke:%23dbdfd6;stroke-width:1.5;stroke-linejoin:round'%3E%3Cpath d='M 9,26 C 17.5,24.5 30,24.5 36,26 L 38.5,13.5 L 31,25 L 30.7,10.9 L 25.5,24.5 L 22.5,10 L 19.5,24.5 L 14.3,10.9 L 14,25 L 6.5,13.5 L 9,26 z'/%3E%3Cpath d='M 9,26 C 9,28 10.5,28 11.5,30 C 12.5,31.5 12.5,31 12,33.5 C 10.5,34.5 11,36 11,36 C 9.5,37.5 11,38.5 11,38.5 C 17.5,39.5 27.5,39.5 34,38.5 C 34,38.5 35.5,37.5 34,36 C 34,36 34.5,34.5 33,33.5 C 32.5,31 32.5,31.5 33.5,30 C 34.5,28 36,28 36,26 C 27.5,24.5 17.5,24.5 9,26 z'/%3E%3Cpath d='M 11.5,30 C 15,29 30,29 33.5,30' style='fill:none'/%3E%3Cpath d='M 12,33.5 C 18,32.5 27,32.5 33,33.5' style='fill:none'/%3E%3Ccircle cx='6' cy='12' r='2'/%3E%3Ccircle cx='14' cy='9' r='2'/%3E%3Ccircle cx='22.5' cy='8' r='2'/%3E%3Ccircle cx='31' cy='9' r='2'/%3E%3Ccircle cx='39' cy='12' r='2'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.grey-king {
  position: absolute;
	margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23dbdfd6' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath stroke-linejoin='miter' d='M22.5 11.63V6M20 8h5'/%3E%3Cpath fill='%23dbdfd6' stroke-linecap='butt' stroke-linejoin='miter' d='M22.5 25s4.5-7.5 3-10.5c0 0-1-2.5-3-2.5s-3 2.5-3 2.5c-1.5 3 3 10.5 3 10.5'/%3E%3Cpath fill='%23dbdfd6' d='M12.5 37c5.5 3.5 14.5 3.5 20 0v-7s9-4.5 6-10.5c-4-6.5-13.5-3.5-16 4V27v-3.5c-2.5-7.5-12-10.5-16-4-3 6 6 10.5 6 10.5v7'/%3E%3Cpath d='M12.5 30c5.5-3 14.5-3 20 0m-20 3.5c5.5-3 14.5-3 20 0m-20 3.5c5.5-3 14.5-3 20 0'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.potential-move {
  position: absolute;
  margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg height='50' width='50' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='10' cx='22.5' cy='22.5' fill='%23829769' /%3E%3C/svg%3E ");
  opacity: 1;
}

.potential-capture {
  position: absolute;
  margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg height='50' width='50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,0 0,10 10,0' style='fill:%23829769;stroke:%23829769;stroke-width:3' /%3E%3Cpolygon points='50,50 50,40 40,50' style='fill:%23829769;stroke:%23829769;stroke-width:3' /%3E%3Cpolygon points='50,0 50,10 40,0' style='fill:%23829769;stroke:%23829769;stroke-width:3' /%3E%3Cpolygon points='0,50 10,50 0,40' style='fill:%23829769;stroke:%23829769;stroke-width:3' /%3E%3C/svg%3E");
  opacity: 1;
}

.last-move {
  position: absolute;
  margin: 0 auto;
  background-color: #829769;
  opacity: 0.7;
}

.promotion {
  background-color: #ffffff;
}

.queueTilesContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}

.loaderSpin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.playerPingStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7%;
  height: 100%;
  margin: auto;
  padding-left: 4px;
}

.playerPingStatus.connected {
  background-color: rgba(82, 244, 7, 100);
  border-color: rgba(82, 244, 7, 100);
}

.queueButton {
  font-size: 1.5em;
  width: 100px;
  height: 100px;
  background-color: #343232;
  border: #343232;
  border-radius: 4px;
  padding: 8px;
  margin: 4px;
}

.queueButton:has(.loaderSpin) {
  background-color: #e77a06;
}

.queueButton:hover {
  background-color: #e77a06;
  cursor: pointer;
}

.queueTilesTitle {
  font-size: 1.5em;
  color: #ffffff;
}

/***************
NAVBAR
****************/

.topNavBar {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 3em;
  top: 0;
  left: 0;
  background-color: #343232;
  align-items: center;
}

.navBarContainer {
  display: flex;
  height: 100%;
  align-items: center;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.navBarContainer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
  padding-right: 10px;
  color: #000;
  vertical-align: middle;
}

.dropdownContainer {
  position: relative;
  height: 100%;
  display: inline-block;
}

.dropdownMenu {
  list-style-type: none;
}

.dropdownTitle {
  position: relative;
  height: 100%;
  border-left: 2px solid transparent;
}

button.dropdownTitle {
  background-color: transparent;
  border: none;
  border-right: 2px solid transparent;
}

.left .dropdownTitle.active {
  background-color: #7e7e7d;
  border-left: 2px solid #3487d5;
}

.right .dropdownTitle.active {
  background-color: #7e7e7d;
  border-right: 2px solid #3487d5;
}

.dropdownContent {
  width: 200%;
  display: block;
  position: absolute;
  background-color: #7e7e7d;
  text-align: left;
  z-index: 1;
}

.left .dropdownContent {
  border-left: 2px solid #3487d5;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 2px 2px 2px black;
}

.right .dropdownContent {
  right: 0%;
  border-right: 2px solid #3487d5;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 2px 2px 2px black;
}

.dropdownContent ul {
  text-align: left;
  list-style-type: none;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.dropdownContent ul a {
  width: 100%;
  height: 100%;
  padding: 0;
}

.dropdownItem {
  color: black;
}

.left .dropdownItem:first-child {
  border-top-right-radius: 4px;
}

.left .dropdownItem:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.right .dropdownItem:first-child {
  border-top-left-radius: 4px;
}

.right .dropdownItem:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.dropdownItem:hover {
  background-color: #3487d5;
  cursor: pointer;
}

.navbarIcon {
  color: #000000;
}

.navbarIcon:hover {
  color: #ffffff;
  cursor: pointer;
}

.siteName:hover {
  color: #ffffff;
  cursor: pointer;
}

/***************
NAVBAR SEARCH
****************/

.navbarSearchContainer {
  display: inline-flex;
  flex-direction: row-reverse;
  height: 100%;
  align-items: center;
}

.navbarSearchInput {
  position: relative;
  width: 100%;
  height: 100%;
  border: 0;
  background: transparent;
  border: none;
  outline: none;
  float: right;
}

.navbarSearchResultsContainer {
  transition: width 150ms;
  position: relative;
  height: 100%;
  display: inline-block;
}

.navbarSearchResultsContent {
  display: block;
  top: 100%;
  width: 100%;
  position: absolute;
  background-color: #343232;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: left;
  z-index: 1;
  padding: 0;
  margin: 0;
}

.navbarSearchResultsContent ul {
  text-align: left;
  list-style-type: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.navbarSearchResultsContent li:not(.navbarSearchNoResults):hover {
  background-color: #3487d5;
}

.navbarSearchNoResults {
  color: black;
  text-align: center;
  font-style: italic;
}

/*********
PLAYER INFO TILE
**********/

.playerInfoTile {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100px;
  background-color: #898988;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px black;
  display: grid
}

.playerInfoTileRatings {
  display: inline-grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

/**********
LATENCY DISPLAY
**********/

.latencyContainer {
  display: flex;
  width: 100%;
}

.latencyText {
  width: 50%;
}

.latencyBars {
  width: 10%;
  margin-left: auto;
}

/**********
LOGIN TILE
**********/

.loginTile {
  display: block;
  width: 18em;
  height: 27em;
  background-color: #343232;
  padding: 3em;
  color: #ffffff;
  text-align: left;
  border-radius: 4px;
}

.registerTile {
  display: block;
  width: 18em;
  height: 35em;
  background-color: #343232;
  padding: 3em;
  color: #ffffff;
  text-align: left;
  border-radius: 4px;
}

.loginOptions {
  display: flex;
  margin-top: 1em;
}

.signInButton {
  width: 100%;
  height: 3em;
  background-color: #3692e7;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  margin-bottom: 0.5em;
  cursor: pointer;
}

/***************
FORMS
****************/

.formGroup {
  margin-bottom: 3em;
  text-align: left;
}

.formGroup>label,
.formGroup>input {
  width: 100%;
}

.formGroup>input {
  height: 2.5em;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:invalid {
  border: 2px solid red;
}

.formError {
  color: red;
}